.Header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../../assets/parchemin.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    flex-direction: column;
    width: 90vw;
    margin: 1rem;
    h1{
        font-size:45px;
    }
    h1, h2 {
        color: #9B2728; 
        margin: 0 2rem 0 2rem; 
    }
    h2 {
        margin-left: 6rem; 
    }
    h1:last-child {
        margin-left: 2rem;
    }
}
